/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

body {
	padding-top: 70px;
    position:relative;

}
.container{
    background: white;
    position:relative;
}
.user_nav{
    height:50px;
    line-height: 50px ;
    display:block;
    float:right;

}
.navbar-collapse a:hover{
    background:none;
    color:black;
    text-decoration: underline !important;
}
.imgLogo{

}
.navbar-brand{

     padding: 0 15px 0 5px !important;

}
.topPage{
    background: url('/assets/backgroundtop.png');
    height: 100%;
    width: 100%;
    margin-top: 12px;
    margin-bottom: -5px;
    padding: 2px;

}

.fields {
    margin-bottom: 20px;
}

#flash_notice{

    text-align: center;
    padding-bottom: 12px;
}

@media
only screen and (max-width: 992px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
     tr td:last-child   {
         border-bottom: black solid 3px;
     }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Nom :    "; }
    td:nth-of-type(2):before { content: "Date naissance :     "; }
    td:nth-of-type(3):before { content: "Tel.  :    "; }
    td:nth-of-type(4):before { content: "Code postal  :    "; }
    td:nth-of-type(5):before { content: "Corriel :     "; }
    td:nth-of-type(6):before { content: "Type :     "; }

}
::before
{
    font-weight: bold;
}
